<!doctype html>
{% load static %}
{% load leaflet_tags %}


<html lang="en" class="no-js">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140867089-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140867089-1', {
	  	'custom_map' : {
	  		'dimension1': 'clientId'
	  	}
	  });
	</script>

	{% block title %}
	{% endblock%}

	<meta charset="utf-8">
	<meta name="description" content="SpaceTime - сервіс для пошуку будь якого типу локацій у місті. Тут ви можете знайти найцікавіші місця поруч з вами">
	<meta name="keywords" content="локації, місця, фото, природа">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{% static 'anthill/css/triptip-assets.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anthill/css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'anthill/images/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'anthill/css/jquery-fullsizable.css' %}">
	{% leaflet_css %}
    {% leaflet_js %}

</head>


<body>

	<!-- Container -->
	<div id="container" class="active">
		<!-- Header
		    ================================================== -->
		<header class="clearfix white-header-style fullwidth-with-search">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">

					<a class="navbar-brand" href="/">
						<img src="{% static 'anthill/images/logo.png' %}" alt="" style="width:220px;">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li>
								<a class="{% if request.resolver_match.url_name == 'citymap' %}active{% endif %}" href="/citymap">Пошук</a>
							</li>
							<li><a class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="/contact">Контакти</a></li>
						</ul>

						{% if user.is_authenticated %}

						<ul class="navbar-nav ml-auto right-list">
							<li><a href="/logout"><i class="fa fa-times" aria-hidden="true"></i> Вийти</a></li>
						</ul>
						{% else %}

						<ul class="navbar-nav ml-auto right-list">
							<li><a href="/login"> Увійти</a></li>
							<li><a href="/register"><i class="fa fa-user-o" aria-hidden="true"></i> Зареєструватись</a></li>
						</ul>


						{% endif %}
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header -->

		{% block content %}
        {% endblock %}
		<!-- End footer -->

	</div>

	<!-- End Container -->

	<script src="{% static 'anthill/js/jquery.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.migrate.js' %}"></script>
	<!--build:js js/triptip-plugins.min.js -->
	<script src="{% static 'anthill/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'anthill/js/select2.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.imagesloaded.min.js' %}"></script>
  	<script src="{% static 'anthill/js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'anthill/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'anthill/js/retina-1.1.0.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.appear.js' %}"></script>
	<script src="{% static 'anthill/js/markerclusterer.js' %}"></script>
	<!-- endbuild -->
	<script src="{% static 'anthill/js/popper.js' %}"></script>
	<script src="{% static 'anthill/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'anthill/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'anthill/js/script.js' %}"></script>
	<script src="{% static 'anthill/js/jquery-fullsizable.js' %}"></script>

</body>

</html>