{% extends 'anthill/basesign.html' %}
{% load static %}


{% block content %}

{% block page %}

{% endblock %}

		<!-- footer block module
			================================================== -->
		<footer class="footer footer-black">
			<div class="container">

				<div class="footer__up-part">
					<div class="row">
						<div class="col-md-4">

							<div class="footer__widget text-widget">
								<img src="{% static 'anthill/images/logo_sm.png' %}" alt="spacetime-logo">
								<p class="footer__widget-description">
									База локацій для будь-якої події.
								</p>
							</div>

						</div>
						<div class="col-md-4">

							<div class="footer__widget subscribe-widget">
								<h2 class="footer__widget-title footer__widget-title-white">
									Підписка
								</h2>
								<p class="footer__widget-description">
									Отримуй листи про наші оновлення
								</p>
								<form class="footer__subscribe-form" method="post" action="subscribe/">
									{% csrf_token %}
									<input class="footer__subscribe-input" type="text" name="email-sub" id="email-sub" placeholder="Твій email" />
									<button class="footer__subscribe-button footer__subscribe-button-primary" type="submit">
										<i class="la la-arrow-circle-o-right" aria-hidden="true"></i>
									</button>
								</form>
							</div>

						</div>
						<div class="col-md-4">

							<div class="footer__widget text-widget">
								<h2 class="footer__widget-title footer__widget-title-white">
									Контактна інформація
								</h2>
								<p class="footer__widget-description">
									Вінниця <br>
									gunkooleksii@gmail.com<br>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="footer__down-part footer__down-part-black">
					<div class="row">
						<div class="col-md-7">
							<p class="footer__copyright">
								© SpaceTime 2019 - Всі права захищено
							</p>
						</div>
						<div class="col-md-5">
							<ul class="footer__social-list">
								<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</footer>
{% endblock %}
