{% extends 'anthill/basewhitefooter.html' %}
{% load static %}

{% block title %}
	<title>Зв'язатись - SpaceTime</title>
{% endblock%}

{% block page %}

<!-- add-listing
			================================================== -->
		<section class="add-listing">
			<div class="add-listing__title-box">
				<div class="container">
					<h1 class="add-listing__title">
						Бронювання локації
					</h1>
				</div>
			</div>


			<!-- form listing -->
			<form class="add-listing__form" style="margin:30px;" action="/not_implemented">

				<div class="container">

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="general-info">

						<h2 class="add-listing__form-title">
							Ваша інформація:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-md-6">
									<label class="add-listing__label" for="list-title">
										Ваші контакти:
									</label>
									<input class="add-listing__input" type="text" name="list-title" id="list-title" placeholder="Телефон, email, тощо" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="category">
										Бажаний час:
									</label>
                                    <input type="datetime-local" name="category" id="category" class="add-listing__input">

								</div>
							</div>


							<label class="add-listing__label" for="description">
								Коментар:
							</label>
							<textarea class="add-listing__textarea" name="description" id="description" placeholder="Опишіть що вам потрібно для події"></textarea>
						</div>

					</div>



					<div class="center-button">
						<button class="add-listing__submit" type="submit">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							Відіслати
						</button>
					</div>

				</div>

			</form>
		</section>
		<!-- End add-listing -->

{% endblock %}