{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Кабінет - SpaceTime</title>
{% endblock%}


{% block content %}
<!-- user-detail
			================================================== -->
		<section class="user-detail">
			<div class="user-detail__profile">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="user-detail__profile-box">
								<a class="user-detail__profile-image" href="#"><img src="{% static 'anthill/upload/avat1.jpg' %}" alt=""></a>
								<h3 class="user-detail__profile-title">
									<a href="#">Олексій Гунько</a>
									<span class="user-detail__profile-location">
										<i class="fa fa-map-marker"></i>
										Вінниця
									</span>
								</h3>
							</div>
						</div>
						<div class="col-lg-7">
							<a class="user-detail__profile-btn btn-default btn-default-red" href="/partner">
								<i class="fa fa-briefcase"></i>
								Кабінет партнера
							</a>
							<ul class="user-detail__profile-list">
								<li>
									<span>12</span>
									Подій
								</li>
								<li>
									<span>3</span>
									Локації
								</li>
								<li>
									<span>5</span>
									Коментарів
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- user scroll menu box -->
			<div class="user-detail__scroll-menu-box scroller-menu">
				<div class="container">
					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="location-box" style="margin-top: 30px;">

						<h2 class="add-listing__form-title">
							Ваша інформація:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-md-6">
									<label class="add-listing__label" for="firstname">
										Ім'я:
									</label>
									<input class="add-listing__input" type="email" name="country" id="firstname" placeholder="Олексій" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="lastname">
										Фамілія:
									</label>
									<input class="add-listing__input" type="email" name="country" id="lastname" placeholder="Гунько" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="email">
										Email:
									</label>
									<input class="add-listing__input" type="email" name="email" id="email" placeholder="g@gmail.com" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="city">
										Місто:
									</label>
									<select class="add-listing__input js-example-basic-multiple" name="city" id="city">
										<option>Оберіть місто: </option>
										<option>Вінниця</option>
									</select>
								</div>
							</div>
						</div>

					</div>

					<div class="center-button">
						<button class="add-listing__submit" type="submit">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							Зберегти зміни
						</button>

                        <a class="btn-default btn-red" href="#" id="btnRemoveLocation" name="btnRemoveLocation">
							<i class="la la-trash" aria-hidden="true"></i>
							Видалити
						</a>
					</div>
				</div>
			</div>



		</section>
		<!-- End user-detail -->
{% endblock %}