{% extends 'anthill/basesign.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
	<title>Пошук локації - SpaceTime</title>
{% endblock%}

{% block content %}
<!-- explore-module
			================================================== -->
		<section class="explore">
			<div class="explore__side-content">
				<div class="explore__filter explore__filter-side">
					<form class="explore__form">
						<h2 class="explore__filter-title">
							<span>Пошук місця</span>
						</h2>

						<div class="row">
							<div class="col-sm-6">
								<select class="explore__form-input js-example-basic-multiple sltCity" id="sltCity">
									<option value="closest">Біля мене </option>
									{% for city in cities %}
										<option value="{{ city.id }}">{{ city.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-sm-6">
								<select class="explore__form-input js-example-basic-multiple" id="sltCategory">
									<option value="all">Усі види</option>
									<option value="AC">Активний відпочинок</option>
									<option value="EC">Екотуризм</option>
									<option value="NT">Природа та парки</option>
									<option value="AR">Музеї, архітектура, культура</option>
								</select>
							</div>
						</div>


					</form>
				</div>



				<h2 class="explore__form-desc">
							Розширений пошук
							<a href="#" class="advanced-toggle">
								більше
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</h2>
						<div class="explore__form-advanced">

                            <br />


							<h3>Умови</h3>

							<ul class="explore__form-checkbox-list explore__form-checkbox-list-side">
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isFree" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Безкоштовно</span>
								</li>
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isExtreme" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Екстрим</span>
								</li>
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isRomantic" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Романтика</span>
								</li>
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isFamily" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Для сім'ї</span>
								</li>
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isForKids" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Для дітей</span>
								</li>
								<li>
									<input class="explore__input-checkbox" type="checkbox" name="open-check" id="isInclusiveSelected" />
									<span class="explore__checkbox-style"></span>
									<span class="explore__checkbox-text">Інклюзивний простір</span>
								</li>
							</ul>

						</div>

				<div class="center-button">
						<a class="btn-default btn-default-red btnLoad" data-load="load-container.html" data-number="2" href="#" id="btnLoad">
							<i class="fa fa-refresh"></i>
							Показати
						</a>
				</div>

				<div class="explore__box explore__box-side">
					<div class="explore__wrap iso-call">
						<div class="container" >
								{% include 'anthill/places.html' %}
						</div>
					</div>

				</div>

			</div>


			<div class="explore__map-side">
				<!-- map block
				================================================== -->
				 {% leaflet_map "main_map" callback="map_init" %}
				<!-- End map block -->
			</div>

		</section>
		<script src="{% static 'anthill/js/jquery.min.js' %}"></script>
        <script>
        	var mainMap = null;
        	var placeMarkers = new Array();
        	var loadButton = $('a.btnLoad');
        	var userPosition = null;
        	var localLon = null;
        	var localLat = null;
        	var minPrice = 25;
        	var maxPrice = 1500;
        	var minPeople = 1;
        	var maxPeople = 1000;

        	$( document ).ready(function() {
				{% if city_val %}
				var city = '{{city_val}}';
				{% endif %}

				{% if category %}
				var place = '{{category}}';
				updateMainFilter(city, place);

				{% endif %}


			});

			// Initialization map on page
            function map_init(map, options)
            {
            	mainMap = map;
                if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position){
						localLon = position.coords.longitude;
						localLat = position.coords.latitude;

						 var layer = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
							maxZoom: 20,
							attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
						});

						map.addLayer(layer);

						// zoom to point & add it to map
						map.setView([localLat, localLon], 12);

						userPosition = L.circle([localLat, localLon], {color: '#4EC4B7',
    																fillColor: '#4EC4B7',
    																radius:1000 }).addTo(map);

    					updatePageWithFilter();
					});
				  }


            }

			function addMarker(places){
					// cleaning old data
					placeMarkers.forEach(function(entry){
						mainMap.removeLayer(entry);
					});
					placeMarkers = [];

					// adding new
					places.forEach(function(entry){
						var geo = entry.fields.geometry;
						var points = geo.split("POINT (")[1].replace(')',"").split(" ");

						var placeMarker = L.marker([points[1], points[0]]);
						placeMarker.bindPopup("<p><a href='/place/?id=" + entry.pk + "'>" + entry.fields.name + "</a></p>");
						placeMarker.addTo(mainMap);

						placeMarkers.push(placeMarker);
					});
			}

			// handling click on load button
			loadButton.on('click', function (e)
			{
				updatePageWithFilter();
			});

			$( 'ul.explore__form-price-list li a').on( 'click', function() {
				$('ul.explore__form-price-list li a').removeClass('active');
				$( this ).addClass( 'active' );
			});

			function updateMainFilter(city, place) {
				$("#sltCity").val(city);
				$('#sltCategory').val(place);
			}

			function updatePageWithFilter(){
				// getting filters
				var isFree = $("#isFree").is(':checked');
				var isForKids = $("#isForKids").is(':checked');
				var inclusive = $("#isInclusiveSelected").is(':checked');
				var extreme = $("#isExtreme").is(':checked');
				var romantic = $("#isRomantic").is(':checked');
				var family = $("#isFamily").is(':checked');

				var city = $( "#sltCity" ).val();
				var category = $("#sltCategory").val();

				if (city != "closest") {

					$.get("/city_location/?id=" + city, function( data ) {
					  // zoom to point & add it to map
						mainMap.setView([data.y, data.x], 14);
					});
				}
				else {
					// zoom to point & add it to map
					mainMap.setView([localLat, localLon], 14);
				}

				var url = "/places?free="+isFree +
							"&for_kids=" + isForKids +
							"&inclusive=" + inclusive +
							"&lon=" + localLon +
							"&lat=" + localLat +
							"&city=" + city +
							"&category=" + category +
							"&extreme="+extreme+
							"&romantic="+romantic+
							"&family="+family;

				$('.iso-call').html('').load(url);
				$('.iso-call').css("height", "100%");
			}
        </script>
		<!-- End explore-module -->
{% endblock %}