{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Підписка - SpaceTime</title>
{% endblock%}


{% block content %}
<!-- contact-page-block
			================================================== -->
		<section class="contact-page">
			<div class="container">
				<span class="contact-page__short-title">
					Ваша відгук збережено
				</span>
				<h1 class="contact-page__title">
					Дякуємо за те що ділитесь з нами!
				</h1>

				<a onclick="window.history.back();" class="add-list-btn btn-main">Повернутись</a>
			</div>
		</section>
		<!-- End contact-page-block -->
{% endblock %}