{% extends 'anthill/basewhitefooter.html' %}
{% load static %}

{% block title %}
	<title>Зв'язатись - SpaceTime</title>
{% endblock%}

{% block page %}

<!-- contact-page-block
			================================================== -->
		<section class="contact-page">


			<div class="container">

				{% if message%}
				<div class="alert alert-success" role="alert">
				  Дякуємо за відгук!
				</div>

				{% endif %}

				<span class="contact-page__short-title">
					наш офіс та контактна інформація
				</span>
				<h1 class="contact-page__title">
					Зв'яжіться з нами
				</h1>
				<p class="contact-page__description">
					Будемо вдячні за будь-який відгук чи пропозицію
				</p>

				<div class="row">
					<div class="col-lg-8 col-md-8">

						<!-- Contact form module -->
						<form class="contact-form" id="contact-form" method="post" action="/contact/">
							{% csrf_token %}
							<h2 class="contact-form__title">
								Відгук
							</h2>
							<div class="row">
								<div class="col-md-6">
									<input class="contact-form__input-text" type="text" name="name" id="name" placeholder="Ім'я:" />
								</div>
								<div class="col-md-6">
									<input class="contact-form__input-text" type="text" name="email" id="email" placeholder="Email:" />
								</div>
							</div>
							<input class="contact-form__input-text" type="text" name="subject" id="subject" placeholder="Тема" />
							<textarea class="contact-form__textarea" name="comment" id="comment" placeholder="Повідомлення"></textarea>
							<input class="contact-form__submit" type="submit" name="submit-contact" id="submit_contact" value="Відправити" />
						</form>
						<!-- End Contact form module -->

					</div>

					<div class="col-lg-3 offset-lg-1 col-md-4">


						<!-- contact-post-module -->
						<div class="contact-post">
							<i class="la la-envelope"></i>
							<div class="contact-post__content">
								<h2 class="contact-post__title">
									Email:
								</h2>
								<p class="contact-post__description">
									gunkooleksii@gmail.com
								</p>
							</div>
						</div>
						<!-- End contact-post-module -->

					</div>

				</div>

			</div>
		</section>
		<!-- End contact-page-block -->

{% endblock %}