{% extends 'anthill/base.html' %}
{% load static %}

{% block title %}
	<title>SpaceTime - незабутній відпочинок поруч</title>
{% endblock%}

{% block content %}
<!-- discover-module section
			================================================== -->
		<section class="discover">
			<div class="container">
				<p class="discover__description">Обирай цікаві місця та організовуй подорожі Україною з нами</p>

				<h1 class="discover__title places-tab">
					Незабутній відпочинок поруч!
				</h1>


				<ul class="discover__list">
					<li class="discover__list-item">
						<a class="place active-list" href="#"><i class="la la-compass" aria-hidden="true"></i>Локації</a>
					</li>
				</ul>

				<form class="discover__form">

					<select class="discover__form-input js-example-basic-multiple" id="sltCities" name="sltCities">
						<option value="closest">Обери місто</option>
						{% for city in cities %}
							<option value="{{ city.id }}">{{ city.name }}</option>
						{% endfor %}
					</select>
					<select class="discover__form-input js-example-basic-multiple" id="sltType" name="sltType">
						<option value="all">Усі види</option>
						<option value="AC">Активний відпочинок</option>
						<option value="EC">Екотуризм</option>
						<option value="NT">Природа та парки</option>
						<option value="AR">Музеї, архітектура, культура</option>
					</select>

					<button class="btn-default btn-default-red" type="submit" id="btnSearch" name="btnSearch"><i class="fa fa-search" aria-hidden="true"></i> Пошук</button>
				</form>

			</div>
		</section>
		<!-- End discover-module section -->

		<!-- services-block
			================================================== -->
		<section class="services services-trans" id="services">
			<div class="container">


				<div class="services__box services__box-half-negative">
					<div class="row">

						<div class="col-xl-4 col-md-4 col-sm-6">

							<!-- services-post2 module -->
							<a href="#" class="services-post2">
								<div class="services-post2__content">
									<i class="la la-map" aria-hidden="true"></i>
									<h2 class="services-post2__title">
										Зручний пошук
									</h2>
								</div>
							</a>
							<!-- end services-post2 module -->

						</div>

						<div class="col-xl-4 col-md-4 col-sm-6">

							<!-- services-post2 module -->
							<a href="#" class="services-post2">
								<div class="services-post2__content">
									<i class="la la-street-view" aria-hidden="true"></i>
									<h2 class="services-post2__title">
										Найближчі локації
									</h2>
								</div>
							</a>
							<!-- end services-post2 module -->

						</div>

						<div class="col-xl-4 col-md-4 col-sm-6">

							<!-- services-post2 module -->
							<a href="#" class="services-post2">
								<div class="services-post2__content">
									<i class="la la-rocket" aria-hidden="true"></i>
									<h2 class="services-post2__title">
										Персоналізований контент
									</h2>
								</div>
							</a>
							<!-- end services-post2 module -->
						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- End services-block -->

<!-- trending-places-block
			================================================== -->
		<section class="trending-places">
			<div class="container">

				<!-- section-header module -->
				<div class="section-header">
					<h1 class="section-header__title">
						Останні додані локації
					</h1>
					<p class="section-header__description">
						На сьогодні зареєстровано {{ locations_count }} локацій
					</p>
				</div>
				<!-- end section-header module -->


				<div class="trending-places__box owl-wrapper">
					<div class="owl-carousel" data-num="5">
						{% for place in places %}
						<div class="item">
														<!-- place-post module -->
														<div class="place-post">
															<div class="place-post__gal-box">
																<img class="place-post__image" src="{{ place.place_logo.url }}" alt="place-image">
																<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
															</div>
															<div class="place-post__content">
																<h2 class="place-post__title">
																	<a href="/place/?id={{ place.id }}">{{ place.name }}</a>
																</h2>
																<p class="place-post__description">
																	{{ place.get_type_display }}
																	<span class="place-post__description-review">
																		<i class="fa fa-comment-o" aria-hidden="true"></i>
																		{{ place.number_of_feebacks }} відгуків
																	</span>
																</p>
																<p class="place-post__address">
																	<i class="fa fa-map-marker" aria-hidden="true"></i>
																	{{ place.city }}
																</p>
															</div>
														</div>
							</div>
							{% endfor %}

					</div>
				</div>
				<div class="center-button">
					<a class="text-btn" href="/citymap">
						Відкрити всі
					</a>
				</div>
			</div>
		</section>
		<!-- End trending-places-block -->

		<!-- banner-block
			================================================== -->
		<section class="banner" id="subscribe">
			<div class="container">
				<div class="row">
					<div class="col-md-8">

						<!-- section-header module -->
						<div class="section-header">
							<h1 class="section-header__title white-style">
								Приєднатись до спільноти!
							</h1>
							<p class="section-header__description white-style">
								Долучайтесь та діліться своїми улюбленними місцями
							</p>
						</div>
						<!-- end section-header module -->

					</div>
					<div class="col-md-4">
						<a class="btn-default" href="{% url 'anthill:login' %}">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							Приєднатись!
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner-block -->

<!-- top-experience-block
			================================================== -->
		<section class="top-experience top-experience-rated">
			<div class="container">

				<!-- section-header module -->
				<div class="section-header">
					<h1 class="section-header__title">
						Міста
					</h1>
					<p class="section-header__description">
						Наша мета - зібрати усі цікаві місця України та допомогти вам організувати свій відпочинок
					</p>
				</div>
				<!-- end section-header module -->


				<div class="top-experience__box owl-wrapper">
					<div class="owl-carousel" data-num="3">
						{% for city in cities %}
						<div class="item">
							<!-- place-gal module -->
							<div class="place-gal">
								<img class="place-gal__image" src="{{ city.city_photo.url }}" alt="place-image">
								<div class="place-gal__content">
									<h2 class="place-gal__title">
										<a href="#">
											<img src="upload/flag1.jpg" alt="">
											{{ city.name }}
										</a>
									</h2>
									<ul class="place-gal__list">
										<li class="place-gal__list-item">
											<a href="#">{{ city.number_of_places }} локацій на сайті</a>
										</li>
									</ul>
									<a class="btn-default" href="/citymap/?city={{ city.id }}&category=all">
										<i class="fa fa-caret-right" aria-hidden="true"></i>
										Відкрити
									</a>
								</div>
							</div>
							<!-- end place-gal module -->
						{% endfor %}
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End top-experience-block -->


		<!-- how-it-work-block
			================================================== -->
		<section class="how-it-work how-it-work-mapbg" id="process">
			<div class="container">

				<!-- section-header module -->
				<div class="section-header">
					<h1 class="section-header__title">
						Досліджуй країну разом з нами
					</h1>
					<p class="section-header__description">
						Ми готові допомогти тобі на всіх етапах
					</p>
				</div>
				<!-- end section-header module -->

				<div class="how-it-work__box">
					<div class="row">

						<div class="col-lg-4 col-md-6">

							<!-- how-work-post module -->
							<div class="how-work-post">

								<span class="how-work-post__icon">
									<i class="la la-compass" aria-hidden="true"></i>
								</span>

								<h2 class="how-work-post__title">
									Досліджуй місто
								</h2>

								<p class="how-work-post__description">
									Обери місто яке ти маєш відвідати та переглянь карту локацій
								</p>

							</div>
							<!-- end how-work-post module -->

						</div>

						<div class="col-lg-4 col-md-6">

							<!-- how-work-post module -->
							<div class="how-work-post">

								<span class="how-work-post__icon">
									<i class="la la-binoculars" aria-hidden="true"></i>
								</span>

								<h2 class="how-work-post__title">
									Шукай цікаві міця
								</h2>

								<p class="how-work-post__description">
									Ми підберем саме ті локацій які дадуть тобі найбільше емоцій
								</p>

							</div>
							<!-- end how-work-post module -->

						</div>



						<div class="col-lg-4 col-md-6">

							<!-- how-work-post module -->
							<div class="how-work-post">

								<span class="how-work-post__icon">
									<i class="la la-plus-circle" aria-hidden="true"></i>
								</span>

								<h2 class="how-work-post__title">
									Додавай до списку
								</h2>

								<p class="how-work-post__description">
									Зберігай цікаві локації та складай оптимальний маршрут щоб встигнути побачити усе
								</p>

							</div>
							<!-- end how-work-post module -->

						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- End how-it-work-block -->
{% endblock %}