{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Увійти - SpaceTime</title>
{% endblock%}


{% block content %}
		<section>

            <div class="sign__area">


				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-sign" role="tabpanel">

                         {% if error_message %}
                            <div class="alert alert-danger" role="alert" style="margin:15px;">
                              {{ error_message }}
                            </div>

                            {% endif %}


                        <h2>Увійти до сервісу</h2>

						<!-- sign-form-module -->
						<form class="sign-form validate" method="post" id="sign-form">
                            {% csrf_token %}
							<input type="hidden" name="next" value="{{ next }}">

							<input class="sign-form__input-text" type="text" name="username" id="username" placeholder="Введіть ваш e-mail:" data-validation="length" data-validation-length="min5" />

							<input class="sign-form__input-text" type="password" name="password" id="password" placeholder="Ваш пароль" />

                            <br/>

							<div class="sign-form__checkbox">
								<input class="sign-form__input-checkbox" type="checkbox" name="rememb-check" id="rememb-check"/>
								<span class="sign-form__checkbox-style"></span>
								<span class="sign-form__checkbox-text">Запам'ятати</span>
							</div>
							<a class="sign-form__forget-link" href="/contact">Забули пароль?</a>



							<button  class="sign-form__submit" id="submit-loggin" type="submit">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								Увійти
							</button>
							<p class="sign-form__text">
								або залогінитись
							</p>
							<ul class="sign-form__social">
								<li><a href="{% url 'social:begin' 'facebook' %}" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="{% url 'social:begin' 'google-oauth2' %}" class="google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</form>
						<!-- End sign-form-module -->
					</div>
				</div>
			</div>
		</section>
{% endblock %}