{% extends 'anthill/basesign.html' %}
{% load static %}


{% block content %}
<!-- contact-page-block
			================================================== -->
		<section class="contact-page">
			<div class="container">
				<span class="contact-page__short-title">
					Доведеться трошки зачекати
				</span>
				<h1 class="contact-page__title">
					Цей розділ ще в розробці...
				</h1>
				<p class="contact-page__description">
					Якщо ви хочете бути одним з перших - звяжіться з нами
                    <a href="/contact">Зв'язатись</a>
				</p>

			</div>
		</section>
		<!-- End contact-page-block -->
{% endblock %}