{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Локацію створено - SpaceTime</title>
{% endblock%}

{% block content %}
<!-- contact-page-block
			================================================== -->
		<section class="contact-page">
			<div class="container">
				<span class="contact-page__short-title">
					Дякуємо за реєстрацію на нашому сайті!
				</span>
				<h1 class="contact-page__title">
					Ваша локація збережена і скоро стане доступною
				</h1>
				<p class="contact-page__description">
					Якщо у вас є запитання - ми завжди готові допомогти :-)
                    <a href="/contact">Зв'язатись</a>
				</p>

			</div>
		</section>
		<!-- End contact-page-block -->
{% endblock %}