{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Імпорт локацій - SpaceTime</title>
{% endblock%}


{% block content %}
<!-- sign-block
			================================================== -->
		<section class="sign">
			<div class="sign__area">
				<h2>Завантажте файл з даними про локації</h2>
						<!-- sign-form-module -->
						<form class="sign-form validate" method="post" id="validate-register" enctype="multipart/form-data">
							{% csrf_token %}
							<input class="sign-form__input-text" type="file" name="file" id="firstname" placeholder="Файл" />

							<button  class="sign-form__submit" type="submit" id="submit_signup">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								Завантажити
							</button>
						</form>
				</div>
		</section>
		<!-- End sign-block -->

	<!-- End Container -->
{% endblock %}