{% extends 'anthill/basewhitefooter.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
	<title>{{ place.name }} - SpaceTime</title>
{% endblock%}

{% block page %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<section class="listing-detail">

	<div class="listing-detail__gal">
		<picture>
			<source media="(min-width: 991px)" srcset="{{ place.place_header.url }}">
			<source media="(min-width: 568px)" srcset="{{ place.place_header.url }}">
			<source media="(min-width: 200px)" srcset="{{ place.place_header.url }}">
			<img src="{{ place.place_header.url }}" alt="Фото локації">
		</picture>
		<div class="listing-detail__gal-box">
			<div class="container">
				<div class="row">
					<div class="col-md-6">

						{% if place.rating > -1%}
						<p class="listing-detail__rate">{{ place.rating }}<span>/ 5</span></p>
						{% endif %}
						<h1 class="listing-detail__title">{{ place.name }}</h1>
						<p class="listing-detail__address"><i class="fa fa-map-marker"></i>{{ place.address }}</p>
					</div>
					<div class="col-md-6">
						<div class="listing-detail__buttons">
							<a class="btn-default navigate-btn" href="#leave-review">
								<i class="la la-pencil" aria-hidden="true"></i>
								Залишити відгук
							</a>
							{% if user.is_authenticated %}
								{% if liked == True %}
								<a class="btn-default" href="#">
									<i class="la la-calendar-check-o" aria-hidden="true"></i>
									У списку
								</a>
								{% else %}
								<a class="btn-default" href="#" id="btnLike">
									<i class="la la-heart-o" aria-hidden="true"></i>
									Зберегти
								</a>
								{% endif %}
							{% else %}
							<a class="btn-default" href="{% url 'anthill:login' %}" >
									<i class="la la-heart-o" aria-hidden="true"></i>
									Зберегти
								</a>
							{% endif %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="listing-detail__scroll-menu-box scroller-menu">
		<div class="container">
			<ul class="listing-detail__scroll-menu navigate-section">
				<li>
					<a class="active" href="#overview-box">Опис</a>
				</li>
				<li>
					<a href="#gallery-box">Галерея</a>
				</li>
				<li>
					<a href="#tips-reviews-box">Поради та відгуки</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="listing-detail__content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="listing-detail__content-box">

						<!-- overview box -->
						<div class="listing-detail__overview element-waypoint" id="overview-box">
							<h2 class="listing-detail__content-title">Огляд</h2>
							<p class="listing-detail__content-description">
									{{ place.content |safe}}
							</p>
						</div>

						<!-- gallery-box -->
						<div class="listing-detail__gallery element-waypoint" id="gallery-box">
								<h2 class="listing-detail__content-title">Галерея</h2>
								<div class="listing-detail__gallery-inner owl-wrapper">
									<div class="owl-carousel" data-num="4">

										{% for image in images %}
										<div class="item" >
											<a class="fullsizable" href="{{ image.data.url }}">
												<img src="{{ image.data_thumbnail.url }}">
											</a>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>

						<!-- tips & reviews-box -->
						<div class="listing-detail__reviews element-waypoint" id="tips-reviews-box">
							<h2 class="listing-detail__content-title">
								Поради та відгуки
								<a href="#leave-review" class="navigate-btn"><i class="la la-pencil"></i> Лишити відгук</a>
							</h2>
							<div class="listing-detail__reviews-box">

								<!-- reviews list -->
								<ul class="reviews-list">

										{% for comment in comments %}

										<li class="reviews-list__item">
												<div class="reviews-list__item-box">
													<img class="reviews-list__item-image" src="{% static 'anthill/upload/avatar-p.jpg' %}" alt="">
													<div class="reviews-list__item-content">
														<input type="hidden" value="{{ comment.id }}" name="commentId" id="commentId">
														<h3 class="reviews-list__item-title">
																{{ comment.author.get_full_name }}
														</h3>
														<p class="reviews-list__item-date">
																{{ comment.time }}
															<span class="reviews-list__item-rating">{{ comment.rating }}</span>
														</p>
														<h3 class="reviews-list__item-title">
																{{ comment.subject }}
														</h3>
														<p class="reviews-list__item-description">
																{{ comment.text }}
														</p>
														<a class="reviews-list__item-helpful" href="#">
															<i class="la la-thumbs-o-up"></i>
															Корисний відгук
															<span>{{ comment.likes }}</span>
														</a>
													</div>	
												</div>
											</li>
										{% endfor %}
								</ul>
								<!-- reviews-list -->
								{% if user.is_authenticated %}
								<!-- Contact form module -->
								<form class="contact-form" id="leave-review" method="post">
									{% csrf_token %}
									<h2 class="contact-form__title">
										Залиште свій відгук
									</h2>
									<div class="row">
										<div class="col-md-6">
											<p class="contact-form__rate">
												Загальна оцінка локації:
											</p>
											<p class="contact-form__rate-bx">
												<i class="la la-star"></i>
												<i class="la la-star"></i>
												<i class="la la-star"></i>
												<i class="la la-star"></i>
												<i class="la la-star"></i>
											</p>
											<p class="contact-form__rate-bx-show">
												<span class="rate-actual" >0</span>/ 5
												<input type="text" name="rating" id="rating" style="display:none;" value="0"/>
											</p>
										</div>
										<input  type="hidden" name="place_id" id="place_id" value="{{ place.id }}" />
										<div class="col-md-6">
											<div class="contact-form__upload-btn">
												<input class="contact-form__input-file" type="file" name="photo-upload" id="photo-upload" />
												<span>
													<i class="la la-cloud-upload"></i>
													Додати фото
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<input class="contact-form__input-text" type="text" name="subject" id="subject" placeholder="Тема:" />
										</div>
									</div>
									<textarea class="contact-form__textarea" name="text" id="comment" placeholder="Коментар"></textarea>
									<input class="contact-form__submit" type="submit" name="submit-contact" id="submit_contact" value="Додати" />
								</form>
								<!-- End Contact form module -->
								{% else %}

									<span>Щоб залишити відгук потрібно залогінитись</span>

								{% endif %}

							</div>

						</div>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar">

						<div id="mapSingle"  data-map-icon="la la-cutlery">
								{% leaflet_map "place_map" callback="window.map_init_basic" %}
						</div>

						<div class="sidebar__widget sidebar__widget-listing-details">
							<h2 class="sidebar__widget-title">
								Details
							</h2>
							<ul class="sidebar__listing-list">
								<li>
									<i class="la la-map-marker"></i>
									{{ place.address }}
								</li>
								<li>
									<i class="la la-mobile-phone"></i>
									{{ place.phone }}
								</li>
								<li>
									<i class="la la-link"></i>
									{{ place.site }}
								</li>
							</ul>
						</div>

						<div class="sidebar__widget sidebar__widget-tags">
							<h2 class="sidebar__widget-title">
								Умови
							</h2>
							<ul class="sidebar__tags-list">
								{% if place.free %}
								<li><a href="#">Безкоштовно</a></li>
								{% endif %}

								{% if place.extreme %}
								<li><a href="#">екстримально</a></li>
								{% endif %}

								{% if place.family %}
								<li><a href="#">для сім'ї</a></li>
								{% endif %}

								{% if place.romantic %}
								<li><a href="#">романтично</a></li>
								{% endif %}
								
								{% if place.inclusive %}
								<li><a href="#">Інклюзивний простір</a></li>
								{% endif %}

								{% if place.for_kids %}
								<li><a href="#">для дітей</a></li>
								{% endif %}
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	


</section>
<!-- End listing-detail -->


<script>
  $(function() {
    $('a.fullsizable').fullsizable();
  });

  function map_init_basic (map, options) {
	  var lng = '{{ place.geometry.x }}';
	  var lat = '{{ place.geometry.y }}';
	  map.setView([lat, lng], 12);
      L.marker([lat, lng]).addTo(map);
    }
</script>

{% endblock %}


