<div class="row vacancy" id="vacancy">
{% for place in places %}
<div class="col-md-6">
							<!-- place-post module -->
							<div class="place-post">
								<div class="place-post__gal-box">
									<img class="place-post__image" src="{{ place.place_logo.url }}" alt="place-image">
									<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								</div>
								<div class="place-post__content">
									<h2 class="place-post__title">
										<a href="/place/?id={{ place.id }}">{{ place.name }}</a>
									</h2>
									<p class="place-post__description">
										{{ place.get_type_display }}
										<span class="place-post__description-review">
											<i class="fa fa-comment-o" aria-hidden="true"></i>
											{{ place.number_of_feebacks }} відгуків
										</span>
									</p>
									<p class="place-post__address">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										{{ place.address }}
									</p>
								</div>
							</div>
							<!-- end place-post module -->
						</div>
{% endfor %}

<script>
	{% if places_json %}
		var places_js = JSON.parse('{{ places_json|safe }}');
		addMarker(places_js);
	{% endif %}
</script>
</div>

