{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Реєстрація - SpaceTime</title>
{% endblock%}


{% block content %}
<!-- sign-block
			================================================== -->
		<section class="sign">
			<div class="sign__area">
				<h2>Введіть дані для реєстрації</h2>
						<!-- sign-form-module -->
						<form class="sign-form validate" method="post" id="validate-register">
							{% csrf_token %}
							<input class="sign-form__input-text" type="text" name="email" id="email" placeholder="Введіть ваш email" />

							<input class="sign-form__input-text" type="text" name="firstname" id="firstname" placeholder="Введіть ваше ім'я" />


							<input class="sign-form__input-text" type="text" name="lastname" id="lastname" placeholder="Введіть ваше прізвище" />

							<input class="sign-form__input-text" type="password" name="password" id="password" placeholder="Пароль" />

							<div class="sign-form__checkbox">
								<input class="sign-form__input-checkbox" type="checkbox" name="rememb-check2" id="rememb-check2"/>
								<span class="sign-form__checkbox-style"></span>
								<span class="sign-form__checkbox-text">Я погоджуюсь на обробку персональних данних</span>
							</div>

							<button  class="sign-form__submit" type="submit" id="submit_signup">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								Зареєструватись
							</button>
						</form>
				</div>
		</section>
		<!-- End sign-block -->

	<!-- End Container -->
{% endblock %}