{% extends 'anthill/basesign.html' %}
{% load static %}

{% block title %}
	<title>Підписка - SpaceTime</title>
{% endblock%}


{% block content %}
<!-- contact-page-block
			================================================== -->
		<section class="contact-page">
			<div class="container">
				<span class="contact-page__short-title">
					Ви підписались на наші новини
				</span>
				<h1 class="contact-page__title">
					Дякуємо за те що цікавитесь!
				</h1>
				<p class="contact-page__description">
					Обіцяємо висилати вам тільки цікаву інфу і не забивати вашу почтову скриньку :)
				</p>

			</div>
		</section>
		<!-- End contact-page-block -->
{% endblock %}